<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EngineerTrajectory</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<header th:include="header :: header"></header>
<main>
    <div><img src="./image/shutterstock_1490541296.jpg" width="100%"></div>
    <section>
        <h2>--フロントエンドエンジニア--</h2>
        <div>ここにポートフォリオサムネイル</div>
    </section>
    <section>
        <h2>--バックエンドエンジニア--</h2>
        <div>ここにポートフォリオサムネイル</div>
    </section>
    <section>
        <h2>--Webデザイナー--</h2>
        <div>ここにポートフォリオサムネイル</div>
    </section>
</main>

<footer>&copy;2024 EngineerTrajectory</footer>

</body>
</html>